h1{
    background-color: blue;
    
}
button{
    border-radius: 5px;
    background-color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    background-color: darkolivegreen;
}